<div id="center">
    Willkommen bei KryptoChat, deinem sicheren Chat Tool im Internet.
  <br>
  <a href="#" data-toggle="modal" data-target="#login-modal" style="color:cornflowerblue">Log dich ein</a> um zu starten, oder melde dich
  <a href="#" data-toggle="modal" data-target="#register-modal" style="color:cornflowerblue">hier</a> an, um unseren Service kostenlos zu nutzen.
<br><br><br><br><br><br><br>
<div>

</div>
  Hier kommt Text über tolle Features
</div>